*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Dunkin Sans";
}
@font-face {
  font-family: "Dunkin Sans";
  src: url("fonts/DunkinSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* ----------- HEADER --------------- */

body{
background-color: #ffeed4;
}

.nav_logo img{
  width: 80px;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  margin-top: -5%;
  padding-top: 20px;
  height: 60px;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  padding: 15px 1%;
  transition: 0.2s;
  transition: background-color 0.5s ease;
}

.navbar, .nav, .main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#head.head-nav{
background: #ffeed4;
}


.nav a{
  font-size: 16px;
  font-weight: 100;
  margin-right: 10px;
  color: black; 
  transition: all .50s ease;
}
.nav a:hover{
  color: white;
}

.main a{
  margin-right: 16px;
  font-size: 14px;
  transition: all .50s ease;
}

.user{
  display: flex;
  align-items: center;
}

.user span{
  margin-left: 5px; 
  color: black; 
  transition: all .50s ease;
}

.user span:hover{
  color: white;
}

#menu-icon{
  font-size: 26px;
  color: black;
  cursor: pointer;
  z-index: 10001;
  display: none;
}



/* ----------- PAGE 1 --------------- */
  .getintouch {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 80vh; 
    width: 50vw;
    margin-left: 30%;
    margin-top: 5%;
    background-color: #fcf6F6;
    z-index: 0;
    position: relative;
  }

  .titre1{
    text-align: right;
    color: #E11383;
    margin-top: 5%;
    font-size: 3rem;
    margin-right: 15%;
  }
  .titre1:hover{
    text-decoration: underline;
  }
  .contacttitle{
    color: #371f1f;
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
  
  }
  .contacttitle:hover{
    text-decoration: underline;
  }
  .contact {
    background: linear-gradient(to right, #e23591, #F8A45A);
    z-index: 1;
    margin-top: -35rem;
    margin-left: 15%;
    position: relative;
    width: 25vw;
    height: 70vh;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
.new{
  margin-right: 8%;
  margin-top: 10px;
}
  #phrase{
    margin-right: 10%;
    color: gray;
    font-size: 12px;
    margin-bottom: 1rem;
  }
  #phrase:hover{
    color: #F5821F;
  }
  #none{
    font-size: 1rem;
    font-weight: bolder;
    list-style: none;
    color: #371f1f;
    font-family: "Dunkin Sans", sans-serif;
    margin-bottom: -3rem;
    margin-left: 20px;
  }
  #hi{
    padding-top: 5rem;
    margin-left: 8%;
  }
  .container1{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 7rem;
}
#move{
    width: 28vw;
    height: 7vh;
    margin-right: 16%;  
    margin-bottom: -2rem;  
    background-color: #f8e7e74d;
    border: 0.05rem solid #E11383;
    box-shadow: 2px 2px 2px #E11383;
}
#move:hover{
    box-shadow: 10px  #F5821F;
}
.newto{
    color: gray;
    margin-right: 5%;
}
.newto:hover{
    color: #F5821F;
}
.btn{
    position: absolute;
    background-color: #E11383;
    border-radius: 2em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid #E11383;
    box-shadow: 2PX 2PX 9PX;
    font-size: 20px;
    padding: 10px;
    margin-right: 45%;
    margin-top: 67%;
    cursor: pointer;
}
.btn:hover{
    background-color:#F5821F ;
}
#mytext{
    
    margin-right: 16%;    
    background-color: #f8e7e74d;
    border: 0.05rem solid #E11383;
    box-shadow: 2px 2px 2px #E11383;
}
#mytext:hover{
    box-shadow: 2px 2px 2px 2px  #F5821F;
}
.pp{
  cursor: pointer;
}

#none span{
  color: #371f1f;
}

/* ---------- FOOTER -------------- */

.footer{
  margin-top: 6%;
}
.footer-bg{
  width: 100%;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  opacity: 0.9;
}
.ch1{
  list-style: none;
  font-size: 1rem;
  color: #371f1f;
  font-family: "Dunkin Sans", sans-serif;
  cursor: pointer;
}
.container{
  font-size: 10px;
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
}
.titre2{
  text-align: center;
}

.cont2{
  margin-top: 15px;

}
.container1{
  font-size:10px ;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: -4rem;
}

h1{
  text-align: center;
  color: #371f1f;
  font-family: "Dunkin Sans", sans-serif;
  font-weight: bolder;
  font-size: 2em;

}
.ch1:hover {
  color: #F5821F;
  text-decoration: underline;
}
#im:hover{
  background-color: #F5821F;
}
.titre2:hover{
  color: #F5821F;
}
hr{
  color: #371f1f;
 height: 0.1rem;
 background-color: #371f1f;
 border-color: #371f1f;
}