*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Dunkin Sans";
    
}

@font-face {
  font-family: "Dunkin Sans";
  src: url("fonts/DunkinSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
section{
  padding: 220px 5%;
}

/* ----------- HEADER --------------- */

body{
  background-color: #ffeed4;
}

.nav_logo img{
    width: 80px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-top: 20px;
    height: 60px;
    right: 0;
    z-index: 1000;
    background-color: transparent;
    padding: 15px 1%;
    transition: 0.2s;
    transition: background-color 0.5s ease;
}

.navbar, .nav, .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#head.head-nav{
  background: #ffeed4;
}


.nav a{
    font-size: 16px;
    font-weight: 100;
    margin-right: 10px;
    color: black; 
    transition: all .50s ease;
}
.nav a:hover{
    color: white;
}

.main a{
    margin-right: 16px;
    font-size: 14px;
    transition: all .50s ease;
}

.user{
    display: flex;
    align-items: center;
}

.user span{
    margin-left: 5px; 
    color: black; 
    transition: all .50s ease;
}

.user span:hover{
    color: white;
}

#menu-icon{
    font-size: 26px;
    color: black;
    cursor: pointer;
    z-index: 10001;
    display: none;
}


 /* ---------- PAGE1 -------------- */
.page1{
  width: 100%;
  height: 100%;
  background-color: #ffeed4;
  position: absolute;
  display: block;
}

.page1::before{
  content: '';
  background-color: #f5821f;
  height: 100%;
  width: 30%;
  border-radius: 0 0 0 2em;
  position: absolute;
  top: 0;
  right: 0;
}

.page1::after{
  content: 'NEW !';
  font-size: 10rem;
  color: #ffeed447;
  transform: rotate(-90deg);
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 1.6em;
  right: -0.95em;

}

.text{
 max-width: 50em;
 color: #E11383;
 position: absolute;
 top: 5em;
 animation: slide-texts 1s forwards;
}

.main-text{
  font-size: 8em;
  margin-bottom: 10px;
}

.para{
  font-size: 15px;
  line-height: 1.5rem;
  width: 80%;
}

.main-img{
  top: 80px;
  max-width: 30rem;
  position: absolute;
  z-index: 1;
  animation: slide-image 1s forwards;
}

.main-img img{
  filter: drop-shadow(1em 1em 1em rgba(0,0,0, .2));
  transform: rotate(-10deg);
}

.products{
  position: absolute;
  bottom: 0;
  left: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product{
  width: 12em;
  height: 8em;
  border-radius: 2em;
  margin: 0 .2em;
  display: flex;
   align-items: center;
  justify-content: center; 

  position: relative;
  top: 20em; 

  animation: slide-product 1s forwards;
}

.product img{
  width: 7em;
  position: relative;
  bottom: 4em;
  cursor: pointer;
  transition: transform .5s ease;
}

.prod1{
  background-color: #683817;
  animation-delay: 1s;
}

.prod2{
  background-color: #f5821f;
  animation-delay: 1.3s;
}

.prod3{
  background-color: #e1138480;
  animation-delay: 1.6s;
}

.product:hover img{
  transform: translateY(-1.5em) scale(1.1);
}


 /* ---------- ANIMATIONS -------------- */
@keyframes slide-texts {
  from{
    left: -100%;
  }
  to{
    left: 5em;
  }
}

@keyframes slide-image {
  from{
    right: -100%;
  }
  to{
    right: 16%;
  }
}

@keyframes slide-product {
  to{
    top: -2em;
  }
}

.final{
  display: flex;
  flex-direction: column;
}
.page2{
  margin-top: 50%;
}
 
/* ----------- PAGE 2 --------------- */  


#pic{
  height:25vh;
  margin-left: 39%;
  margin-top: -1.8rem;
  width: 25vw;
  align-items: center;
}
.slider{
 width: 95vw;
 height: 50vh;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  margin-left: 2%;
  transition: transform 0.5s ease-in-out;
  margin-top: 20px;
}

#div{
  margin-top: 1%;
  background-color: rgba(248, 164, 90, 0.5);;
  height: 40vh;
  width: 20vw;
  border: 0.5rem   rgba(248, 164, 90, 0.5);
  border-radius: 2em;

}
.img1{
  width: 10vw;
  height: 30vh;
  margin-left: 24%;
  z-index: 1;
  position: relative;
}

.tit{
  text-align: center;
  color: #fcf6f6;
  margin-top: 15px;
}
p{
  font-weight: bold;
  font-size: 1rem;
  margin-left: 1rem;
}
#line{
  display: flex;
}
#ze{
  margin-left: 40%;
}
#z{
  margin-left: 50%;
}
#part{
  margin-top: -2%;
  margin-bottom: 0%;
}
.tt1{
  padding-top: 4%;
  text-align: right;
  color: #E11383;
  font-size: 3.5rem;
  margin-top: 30px;
  margin-right: 20px;
  font-weight: bolder;
  font-family: "Dunkin Sans", sans-serif;
}
.tt2{
  text-align: right;
  color: #E11383;
  font-size: 4rem;
  font-weight: bolder;
  margin-top: -1%;
  font-family: "Dunkin Sans", sans-serif;
  margin-right: 20px;
}
#leftArrow{
  margin-top: 10%;
}
#rightArrow{
  margin-top: 10%;
}

#div:hover{
  background-color: #F5821F;
  transform: scale(1.1);
  height: 45vh;

  
}
.slide{
  opacity: 1;
  transition-duration: 1s;
  animation: slideDown1 1s;
}
@keyframes slideDown1 {
  from{
      transform:translateX(40rem);
      opacity:1;
  }
  to{
      transform: translateX(0rem);
      opacity:1;

  }}
  .slidehover{
      display: none;
      background-color: aquamarine;
  }

  .di{
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
  }
  .send{
      color: gray;
      text-decoration: underline #E11383 ;
      font-weight: bolder;
      margin-right: 15px;
  }
  .inf{
      color: gray;
      text-decoration: underline #E11383;
      font-weight: bolder;
      margin-left: 15px;
  }
  .nxtbtn{
      margin-top: 4vh;
  }
  #viewmore{
      border-radius: 2em;
      margin-left: 42.5%;
      font-weight: bolder;
      position: absolute;
      background-color: #E11383;
      text-decoration: none;
      color: rgb(255, 255, 255);
      text-align: center;
      border: 1px solid #E11383 ;
      box-shadow: 2PX 2PX 9PX;
      font-size: 25px;
      padding: 10px;
  }
  #viewmore:hover{
      background-color: #F5821F;
  }
  .intro{
      visibility: hidden;
      opacity: 0 ;
  }
  .intro p{
    margin-top: 10px;
    font-size: 12px;
    font-weight: lighter;
  }
  .slide:hover .intro{
      visibility: visible;
      opacity: 1;
      color: #fcf6f6;
  }
  .card{
      z-index: 9;
      position: absolute;
      height: 72px;
      width: 307.5px;
      border-radius :0   0 2em 2em ; 
      box-sizing: border-box;
      position: absolute;
      background-color: rgb(27,27,27,0.5);
      transition: .3s;
  }
  .slide:hover .card{
      height: 25vh;
      bottom: 0.1vh;
      background-color: rgb(27,27,27,0.5);
      margin-top: 1%;
  }
  .slide:hover #img1{
  width: 5vw;
  height: 15vh;
  z-index: 1;
  position: relative;
  margin-left: 37%;
  transform: scale(1.1) rotate(-3deg);
  
  }
/* ----------- PAGE 3 --------------- */
 
.wrapper {
  background-color: #ffffff;
  position: absolute;
  width: 80vw;
  max-width: 41em;
  min-height: 25em;
  border-radius: 0.6em;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  margin-top: 100%;
  box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
  display: flex;
  background-color: #FCF6F6;
}
.h{
  color: #E11383;
  font-size: 3.5rem;
  margin-top: -50px;
}
.testimonial-container {
  width: 85%;
  height: 100%;
  position: relative;
  margin: auto;
  padding: 1.8em 1.2em;
  
}
.wrapper button {
  font-size: 1.8em;
  height: 2.2em;
  width: 2.2em;
  background-color: #ffffff;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border: none;
  color: #E11383;
  box-shadow: 0 0 1em rgba(1, 17, 39, 0.25);
  cursor: pointer;
  border-radius: 50%;
}
button#next {
  right: -1.1em;
}
button#prev {
  left: -1.1em;
}
.testimonial-container p {
  color: #8c8c90;
  text-align: center;
  font-size: 0.9em;
  line-height: 2em;
  letter-spacing: 0.05em;
}
.testimonial-container img {
  display: block;
  margin: 1.8em auto 1.25em auto;
  border-radius: 50%;
  width: 150px;
}
.testimonial-container h3 {
  color: #2d3d67;
  font-size: 1em;
  text-align: center;
  color: #E11383;
}
.testimonial-container h6 {
  color: #bcc4da;
  font-size: 0.9em;
  letter-spacing: 0.03em;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .wrapper {
    font-size: 14px;
  }
}


/* ----------- PAGE 4 --------------- */
.main-counter{
  margin-top: 18%;
}

.title{
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
  color: #e11383;
  font-weight: solid;
  text-shadow: 1px 1px;
}
.ul1{
  display:flex;
  list-style-type:none;
}
.count{
  padding: 10px;
  width:40%;
  height:100%;
  text-align: center;
  background-color: #ffe5c4;
  transition: 0.2S LINEAR;
  color:#683817;
  font-weight: bold;
  border-style:solid;
  border-width: 1px;
  box-shadow:2px 2px 8px 1px #683817;
  border-radius: 2rem;
}

.count1{
  margin-left: 7%;
}
.count3{
  margin-right: 6%;
}

.ul1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.count:hover{
  transform: scale(1.1);
}
.count p.number1{
 font-size: 50px;
 font-weight: bold;
 
}
.count p.number2{
  font-size: 50px;
  font-weight: bold;
}
.count p.number3{
  font-size: 50px;
  font-weight: bold;
}
.ul1 .count span{
  width:100px;
  background: #e11383;
  border-radius: 60%;
  
  height:3.5px;
  display:block;
  margin:auto;
  
}
.ul1 .count p{
  font-size:30px ;
  padding: 20px;
  margin: 0;

}
.smile{
  width: 60px;
  vertical-align: middle;
}
.store{
  width:60px;
  vertical-align: middle;
}
.coffee{
  width: 60px;
  vertical-align: middle;
}

.final{
  display: flex;
  flex-direction: column;
}


/* ---------- FOOTER -------------- */


.footer-bg{
  width: 100%;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  opacity: 0.9;
}
.ch1{
  list-style: none;
  font-size: 1rem;
  color: #371f1f;
  font-family: "Dunkin Sans", sans-serif;
  cursor: pointer;
  align-items: center;
}
.container{
  font-size: 10px;
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
}
.titre2{
  text-align: center;
}

.cont2{
  margin-top: 15px;

}
.container1{
  font-size:10px ;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

h1{
  text-align: center;
  color: #371f1f;
  font-family: "Dunkin Sans", sans-serif;
  font-weight: bolder;
  font-size: 2em;

}
.ch1:hover {
  color: #F5821F;
  text-decoration: underline;
}
#im:hover{
  background-color: #F5821F;
}
.titre2:hover{
  color: #F5821F;
}
hr{
  color: #371f1f;
 height: 0.1rem;
 background-color: #371f1f;
 border-color: #371f1f;
}